In [1]:
import json
import pandas as pd

In [4]:
data = []
with open('data.jsonl', 'r') as f:
    for line in f:
        data.append(json.loads(line))

df = pd.DataFrame(data)
df.drop(['category'], axis=1, inplace=True)
df.fillna("", inplace=True)

In [5]:
df

,instruction,context,response
0,When did Virgin Australia start operating?,"Virgin Australia, the trading name of Virgin A...",Virgin Australia commenced services on 31 Augu...
1,Which is a species of fish? Tope or Rope,,Tope
2,Why can camels survive for long without water?,,Camels use the fat in their humps to keep them...
3,"Alice's parents have three daughters: Amy, Jes...",,The name of the third daughter is Alice
4,When was Tomoaki Komorida born?,Komorida was born in Kumamoto Prefecture on Ju...,"Tomoaki Komorida was born on July 10,1981."
...,...,...,...
15010,How do i accept the change,,Embrace the change and see the difference
15011,What is a laser and who created it?,A laser is a device that emits light through a...,A laser is a device that emits light from an e...
15012,What is the difference between a road bike and...,,Road bikes are built to be ridden on asphalt a...
15013,How does GIS help in the real estate investmen...,,"Real estate investors depend on precise, accur..."
15014,What is the Masters?,,The Masters Tournament is a golf tournament he...

In [6]:
text_col = []
for _, row in df.iterrows():
    prompt = 'Below is an instruction that describes a task, paired with a context. Write a response the completes the request.\n\n'
    instruction = str(row['instruction'])
    input_query = str(row['context'])
    output = str(row['response'])

    if len(input_query.strip()) == 0:
        text = prompt + '### Instruction:\n' + instruction + '\n### Response:\n' + output
    else:
        text = prompt + '### Instruction:\n' + instruction + '\n### Input:\n' + input_query +'\n### Response:\n' + output
    
    text_col.append(text)

df["text"] = text_col

In [12]:
print(df.loc[0, 'text'])

Below is an instruction that describes a task, paired with a context. Write a response the completes the request.

### Instruction:
When did Virgin Australia start operating?
### Input:
Virgin Australia, the trading name of Virgin Australia Airlines Pty Ltd, is an Australian-based airline. It is the largest airline by fleet size to use the Virgin brand. It commenced services on 31 August 2000 as Virgin Blue, with two aircraft on a single route.[3] It suddenly found itself as a major airline in Australia's domestic market after the collapse of Ansett Australia in September 2001. The airline has since grown to directly serve 32 cities in Australia, from hubs in Brisbane, Melbourne and Sydney.[4]
### Response:
Virgin Australia commenced services on 31 August 2000 as Virgin Blue, with two aircraft on a single route.

In [13]:
df.to_csv('train.csv', index=False)

In [ ]:
# Run this command to start training
"""
autotrain llm --train --project_name my-1st-llama --model meta-llama/Llama-2-7b-hf --data_path . --use_peft 
--use_int4 --learning_rate 2e-4 --train_batch_size 2 --num_train_epochs 3 --trainer sft 
"""